* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

h2 {
  background-color: #5871F2;
  background-image: linear-gradient(45deg, #5871F2, #AACAFA);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 20px;
  font-size: 35px;
}

h3 {
  color: #bababa;
  margin-bottom: 10px;
  margin-top: 80px;
}

mark {
  background-color: rgba(88, 113, 242, .1);
  color: #5871F2;
}

button{
  border: 1.5px solid #5871F2;
  color: #5871F2;
  padding: 10px 25px;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 10px;
}

button:hover {
  border: 1.5px solid #5871F2;
  background-color: rgba(88, 113, 242, .8);
  color: white;
}

/** Start Nav Menu**/
.nav-menu {
  overflow: hidden;
  background-color: rgba(255,255,255,0);
}

.nav-menu a {
  float: left;
  display: block;
}

.nav-menu-right {
  float: right;
}

.nav-menu-right a {
  color: #5871F2;
  text-align: center;
  margin-right: 3vw;
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px;
  opacity: 60%;
}

.nav-menu a:hover {
  opacity: 100%;
}

.nav-menu .icon {
  display: none;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    position: absolute;
    right: 0;
    width: 100vw;
    height: auto;
  }

  .nav-menu a {
    display: none;
    margin-left: 6vw;
  }

  .nav-menu-right {
    float: left;
    margin-top: 5%;
  }

  .nav-menu-right a {
    margin-bottom: 4vh;
    margin-top: 0;
    width: 100%;
  }

  .nav-menu-right a:hover {
    opacity: 50%;
  }

  .nav-menu a.icon {
    float: right;
    display: block;
    margin-top: 8px;
    margin-bottom: 1vh;
    margin-right: 3vw;
    color: #5871F2;
  }

  .nav-menu.responsive {
    background-color: #5871F2;
    width: 100%;
    height: auto;
    z-index: 10000;
  }

  .nav-menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
  }

  .nav-menu.responsive a {
    float: none;
    display: block;
    text-align: left;
    color: white;
    opacity: 100%;
  }

  .nav-menu.responsive a:hover {
    opacity: 75%;
  }
}
/** End Nav Menu **/

/** Start Banner **/
#banner {
  margin-top: 7%;
  width: 80%;
  margin: auto;
}
/** Start Banner Top **/
.banner-cover-row {
  width: 100%;
  margin: auto;
}

.banner-cover-row:after {
  content: "";
  display: table;
  clear: both;
}

.banner-cover-col-1 {
  float: left;
  width: 40%;
  margin-right: 7%;
}

#banner-cover-image {
  width: 100%;
}

.banner-cover-col-2 {
  float: left;
  width: 50%;
}

#banner-cover-header {
  background-color: #5871F2;
  background-image: linear-gradient(45deg, #5871F2, #AACAFA);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 67px;
  padding-top: 23%;
}

#banner-cover-slogan {
  font-size: 20px;
  color: #adb5de;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .banner-cover-col-1 {
    width: 90%;
    margin-right: 0;
    text-align: center;
  }

  #banner-cover-image {
    width: 70%;
  }

  .banner-cover-col-2 {
    width: 100%;
  }

  #banner-cover-header {
    padding-top: 0%;
  }
}

@media screen and (max-width: 767px) {
  .banner-cover-col-1 {
    width: 90%;
    margin-right: 0;
    text-align: center;
  }

  #banner-cover-image {
    width: 70%;
  }

  .banner-cover-col-2 {
    width: 100%;
  }

  #banner-cover-header {
    padding-top: 0%;
  }
}
/** End Banner Top **/
/** Start Banner Bottom **/
#banner-text-cols {
  margin: auto;
  padding-top: 7%;
}

.banner-text-row {
  width: 100%;
  padding-bottom: ;
  margin: auto;
}

.banner-text-row:after {
  content: "";
  display: table;
  clear: both;
}

.banner-text-col {
  float: left;
  width: 20%;
  margin: auto;
  margin-right: 3%;
  vertical-align: top;
}

.banner-text-col h4{
  color: #c7cdeb;
}

.banner-text-col p{
  color: #8d9df2;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .banner-text-col {
    width: 40%;
    float: left;
  }
}

@media screen and (max-width: 767px) {
  .banner-text-col {
    width: 100%;
    margin-bottom: 20px;
  }
}
/** End Banner Bottom **/
/** End Banner **/

/** Start Project Overview **/
#project-overview {
  width: 80%;
  margin: auto;
}
/** End Project Overview **/

/** Start Features **/
#features {
  margin: auto;
  text-align: center;
  width: 80%;
}

#features img {
  width: 80vw;
  margin: auto;
  height: 80%;
}
/** End Features **/

/** Start Case Study **/
#case-study {
  width: 80%;
  margin: auto;
}
/** End Case Study **/

/** Start Steps **/
.steps-row {
  width: 100%;
  padding-bottom: ;
  margin: auto;
}

.steps-row:after {
  content: "";
  display: table;
  clear: both;
}

.steps-col {
  float: left;
  width: 31%;
  margin-right: 2%;
}

@media screen and (max-width: 767px) {
  .steps-col {
    width: 100%;
    margin-bottom: 20px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .steps-col {
    width: 45%;
    margin-right: 5%;
    height: 200px;
  }
}
/** End Steps **/

/** Start Try Prototype **/
.try-prototype {
  color: white;
  background-color: #5871F2;
  font-size: 50px;
  text-align: center;
  padding: 10%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.try-prototype a{
  color: white;
}

.try-prototype a:hover{
  opacity: 75%;
}
/** End Try Prototype **/

/** Start Reflection **/
#reflection {
  width: 80%;
  margin: auto;
}
/** End Reflection **/

/** Start Back To Home **/
.back-to-home {
  text-align: center;
  margin-top: 65px;
}

.back-to-home a{
  color: #5871F2;
  text-decoration: none;
}

.back-to-home p{
  color: #5871F2;
}

.back-to-home a:hover{
  color: #3349bd;
}

.back-to-home hr{
  color: #5d648c;
  width: 20%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
/** End Back To Home **/

/** Start Footer **/
.footer {
  text-align: center;
  margin: auto;
  border-top: solid 1px #c7c7c7;
  width: 80%;
  margin-top: 50px;
}

.copyright {
  color: grey;
  font-size: 13px;
  margin-top: 20px;
}
/** End Footer **/
